@font-face {
  font-family: 'Gotham Rounded';
  src: url('fonts/GothamRnd-BoldItalic.eot');
  src: local('Gotham Rounded Bold Italic'), local('GothamRnd-BoldItalic'),
    url('fonts/GothamRnd-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRnd-BoldItalic.woff2') format('woff2'),
    url('fonts/GothamRnd-BoldItalic.woff') format('woff'),
    url('fonts/GothamRnd-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded SSm';
  src: url('fonts/GothamRndSSm-Light.eot');
  src: local('Gotham Rounded SSm Light'), local('GothamRndSSm-Light'),
    url('fonts/GothamRndSSm-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRndSSm-Light.woff2') format('woff2'),
    url('fonts/GothamRndSSm-Light.woff') format('woff'),
    url('fonts/GothamRndSSm-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded SSm';
  src: url('fonts/GothamRndSSm-LightItalic.eot');
  src: local('Gotham Rounded SSm Light Italic'), local('GothamRndSSm-LightItalic'),
    url('fonts/GothamRndSSm-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRndSSm-LightItalic.woff2') format('woff2'),
    url('fonts/GothamRndSSm-LightItalic.woff') format('woff'),
    url('fonts/GothamRndSSm-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('fonts/GothamRnd-Medium.eot');
  src: local('Gotham Rounded Medium'), local('GothamRnd-Medium'),
    url('fonts/GothamRnd-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRnd-Medium.woff2') format('woff2'),
    url('fonts/GothamRnd-Medium.woff') format('woff'),
    url('fonts/GothamRnd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded SSm';
  src: url('fonts/GothamRndSSm-Book.eot');
  src: local('Gotham Rounded SSm Book'), local('GothamRndSSm-Book'),
    url('fonts/GothamRndSSm-Book.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRndSSm-Book.woff2') format('woff2'),
    url('fonts/GothamRndSSm-Book.woff') format('woff'),
    url('fonts/GothamRndSSm-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded SSm';
  src: url('fonts/GothamRndSSm-BoldItalic.eot');
  src: local('Gotham Rounded SSm Bold Italic'), local('GothamRndSSm-BoldItalic'),
    url('fonts/GothamRndSSm-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRndSSm-BoldItalic.woff2') format('woff2'),
    url('fonts/GothamRndSSm-BoldItalic.woff') format('woff'),
    url('fonts/GothamRndSSm-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded SSm';
  src: url('fonts/GothamRndSSm-Bold.eot');
  src: local('Gotham Rounded SSm Bold'), local('GothamRndSSm-Bold'),
    url('fonts/GothamRndSSm-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRndSSm-Bold.woff2') format('woff2'),
    url('fonts/GothamRndSSm-Bold.woff') format('woff'),
    url('fonts/GothamRndSSm-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('fonts/GothamRnd-BookItalic.eot');
  src: local('Gotham Rounded Book Italic'), local('GothamRnd-BookItalic'),
    url('fonts/GothamRnd-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRnd-BookItalic.woff2') format('woff2'),
    url('fonts/GothamRnd-BookItalic.woff') format('woff'),
    url('fonts/GothamRnd-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('fonts/GothamRnd-Book.eot');
  src: local('Gotham Rounded Book'), local('GothamRnd-Book'),
    url('fonts/GothamRnd-Book.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRnd-Book.woff2') format('woff2'),
    url('fonts/GothamRnd-Book.woff') format('woff'),
    url('fonts/GothamRnd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('fonts/GothamRnd-LightItalic.eot');
  src: local('Gotham Rounded Light Italic'), local('GothamRnd-LightItalic'),
    url('fonts/GothamRnd-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRnd-LightItalic.woff2') format('woff2'),
    url('fonts/GothamRnd-LightItalic.woff') format('woff'),
    url('fonts/GothamRnd-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded SSm';
  src: url('fonts/GothamRndSSm-Medium.eot');
  src: local('Gotham Rounded SSm Medium'), local('GothamRndSSm-Medium'),
    url('fonts/GothamRndSSm-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRndSSm-Medium.woff2') format('woff2'),
    url('fonts/GothamRndSSm-Medium.woff') format('woff'),
    url('fonts/GothamRndSSm-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('fonts/GothamRnd-Bold.eot');
  src: local('Gotham Rounded Bold'), local('GothamRnd-Bold'),
    url('fonts/GothamRnd-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRnd-Bold.woff2') format('woff2'),
    url('fonts/GothamRnd-Bold.woff') format('woff'),
    url('fonts/GothamRnd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded SSm';
  src: url('fonts/GothamRndSSm-BookItalic.eot');
  src: local('Gotham Rounded SSm Book Italic'), local('GothamRndSSm-BookItalic'),
    url('fonts/GothamRndSSm-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRndSSm-BookItalic.woff2') format('woff2'),
    url('fonts/GothamRndSSm-BookItalic.woff') format('woff'),
    url('fonts/GothamRndSSm-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('fonts/GothamRnd-Light.eot');
  src: local('Gotham Rounded Light'), local('GothamRnd-Light'),
    url('fonts/GothamRnd-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRnd-Light.woff2') format('woff2'),
    url('fonts/GothamRnd-Light.woff') format('woff'),
    url('fonts/GothamRnd-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('fonts/GothamRnd-MediumItalic.eot');
  src: local('Gotham Rounded Medium Italic'), local('GothamRnd-MediumItalic'),
    url('fonts/GothamRnd-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRnd-MediumItalic.woff2') format('woff2'),
    url('fonts/GothamRnd-MediumItalic.woff') format('woff'),
    url('fonts/GothamRnd-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Rounded SSm';
  src: url('fonts/GothamRndSSm-MediumItalic.eot');
  src: local('Gotham Rounded SSm Medium Italic'), local('GothamRndSSm-MediumItalic'),
    url('fonts/GothamRndSSm-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/GothamRndSSm-MediumItalic.woff2') format('woff2'),
    url('fonts/GothamRndSSm-MediumItalic.woff') format('woff'),
    url('fonts/GothamRndSSm-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

:root {
    --blueVeris: #0071CE;
    --royalBlue: #296BEF;
    --royalBlueShade20: #2156BF;
    --royalBlueShade40: #19408F;
    --royalBlueTint60: #A9C4F9;
    --royalBlueTint80: #D4E1FC;
    --royalBlueTint90: #EAF0FD;
    --lightSkyBlueTint60: #AFDBFC;
    --lightSkyBlueTint90: #EBF6FE;
    --midnightBlue: #13243F;
    --silver: #E7E9EC;
    --silverDark: #717C8C;
    --silverLight: #F3F4F5;
    --silverNeutral40: #A1A7B2;
    --silverNeutral80: #425065;
    --silverBlue:#6E7A8C;
    --orangeLight: #FFF8E1;
    --orangeDark: #FFC107;
    --greenLight:#B9F6CA;
    --greenDark: #00C853;
    --redLight:#FBE9E7;
    --redDark: #D84315;
    --SecondaryTint40: #6C7A8C;
    --secundary00: #0A2240;
    --midnightBlueTint80: #D0D3D9;
    --beigeLight: #F1F0F0;
    --magenta: #C52BD2;
    --primaryTint20: #3A5068;
    --primaryTint60: #99C6EB;
    --darkVeris:#3D4E66;
}

body {
    font-family: "Gotham Rounded", "Gotham Rounded SSm", sans-serif !important;
    color: var(--midnightBlue) !important;
}

.fw-light{
    font-family: 'Gotham Rounded SSm' !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.rounded-4{
    border-radius: 4px !important;
}

.rounded-6{
    border-radius: 6px !important;
}

.rounded-8{
    border-radius: 8px !important;
}

.rounded-12{
    border-radius: 12px !important;
}

.rounded-16{
    border-radius: 16px !important;
}

.rounded-24{
    border-radius: 24px !important;
}

.rounded-32{
    border-radius: 32px !important;
}

.rounded-200{
    border-radius: 200px !important;
}

.rounded-top-8{
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.rounded-top-12{
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

.rounded-bottom-16{
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

.bg-royal-blue{
    background: var(--royalBlue) !important;
}

.bg-royal-blue-shade-40{
    background: var(--royalBlueShade40) !important;
}

.bg-light-sky-blue-tint-90{
    background: var(--lightSkyBlueTint90) !important;
}

.bg-light-sky-blue-tint-60{
    background: var(--lightSkyBlueTint60) !important;
}

.bg-royal-blue-tint-90{
    background: var(--royalBlueTint90) !important;
}

.bg-royal-blue-tint-80{
    background: var(--royalBlueTint80) !important;
}

.bg-royal-blue-tint-60{
    background: var(--royalBlueTint60) !important;
}

.bg-midnight-blue{
    background: var(--midnightBlue) !important;
}

.bg-orange-light{
    background: var(--orangeLight) !important;
}

.bg-red-light{
    background: var(--redLight) !important;
}

.bg-silver{
    background: var(--silver) !important;
}

.bg-silver-light{
    background: var(--silverLight) !important;
}

.bg-midnight-blue-tint-80{
    background: var(--midnightBlueTint80) !important;
}

.bg-primary-tint-60{
    background: var(--primaryTint60) !important;
}

.bg-beige-light{
    background: var(--beigeLight) !important;
}

.bg-magenta{
    background: var(--magenta) !important;
}

.gradient-green{
    background: linear-gradient(0deg, var(--greenLight), var(--greenLight)), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.text-royal-blue{
    color: var(--royalBlue) !important;
}

.text-veris{
    color: var(--blueVeris) !important;
}

.text-dark-veris{
    color: var(--darkVeris) !important;
}

.text-secundary-00{
    color: var(--secundary00) !important;
}

.text-primary-tint-20{
    color: var(--primaryTint20) !important;
}

.text-royal-blue-shade-20{
    color: var(--royalBlueShade20) !important;
}

.text-royal-blue-shade-40{
    color: var(--royalBlueShade40) !important;
}

.text-light-sky-blue-tint-90{
    color: var(--lightSkyBlueTint90) !important;
}

.text-royal-blue-tint-60{
    color: var(--royalBlueTint60) !important;
}

.text-royal-blue-tint-80{
    color: var(--royalBlueTint80) !important;
}

.text-royal-blue-tint-90{
    color: var(--royalBlueTint90) !important;
}

.text-midnight-blue{
    color: var(--midnightBlue) !important;
}

.text-secondary-tint-40{
    color: var(--SecondaryTint40) !important;
}

.text-orange-dark{
    color: var(--orangeDark) !important;
}

.text-green-dark{
    color: var(--greenDark) !important;
}

.text-red-dark{
    color: var(--redDark) !important;
}

.text-silver-dark{
    color: var(--silverDark) !important;
}

.text-silver-light{
    color: var(--silverLight) !important;
}

.text-silver-neutral-40{
    color: var(--silverNeutral40) !important;
}

.text-silver-neutral-80{
    color: var(--silverNeutral80) !important;
}

.text-silver-blue{
    color: var(--silverBlue) !important;
}

.border-royal-blue{
    border: 1px solid var(--royalBlue) !important;
}

.border-royal-blue-2{
    border: 2px solid var(--royalBlue) !important;
}

.border-light-sky-blue-tint-90{
    border: 1px solid var(--lightSkyBlueTint90) !important;
}

.border-royal-blue-tint-60{
    border: 1px solid var(--royalBlueTint60) !important;
}

.border-royal-blue-tint-80{
    border: 1px solid var(--royalBlueTint80) !important;
}

.border-royal-blue-tint-90{
    border: 1px solid var(--royalBlueTint90) !important;
}

.border-midnight-blue{
    border: 1px solid var(--midnightBlue) !important;
}

.border-midnight-blue-tint-80{
    border: 1px solid var(--midnightBlueTint80) !important;
}

.border-bottom-midnight-blue-tint-80{
    border-bottom: 1px solid var(--midnightBlueTint80) !important;
}

.border-light-sky-blue-tint-60{
    border: 1px solid var(--lightSkyBlueTint60) !important;
}

.border-silver-neutral-40{
    border: 1px solid var(--silverNeutral40) !important;
}

.border-start-silver-neutral-40 {
    border-left: 1px solid var(--silverNeutral40) !important;
}

.border-silver{
    border: 1px solid var(--silver) !important;
}

.border-blue-veris-3{
    border: 3px solid var(--blueVeris) !important;
}

.border-silver-3{
    border: 3px solid var(--silver) !important;
}

.border-inside{
    box-sizing: border-box !important;
}

.shadow-veris{
    box-shadow: 0px 4px 8px 0px #0000001A !important;
}

.fs-10{
    font-size: 10px !important;
}

.fs-12{
    font-size: 12px !important;
}

.fs-14{
    font-size: 14px !important;
}

.fs-16{
    font-size: 16px !important;
}

.fs-18{
    font-size: 18px !important;
}

.fs-20{
    font-size: 20px !important;
}

.fs-24{
    font-size: 24px !important;
}

.fs-26{
    font-size: 26px !important;
}

.fs-28{
    font-size: 28px !important;
}

.fs-32{
    font-size: 32px !important;
}

.fs-40{
    font-size: 40px !important;
}

.fs-48{
    font-size: 48px !important;
}

.fs-60{
    font-size: 60px !important;
}

.fs-64{
    font-size: 64px !important;
}

.fs-128{
    font-size: 128px !important;
}

.line-height-14{
    line-height: 14px !important;
}

.line-height-16{
    line-height: 16px !important;
}

.line-height-20{
    line-height: 20px !important;
}

.line-height-24{
    line-height: 24px !important;
}

.line-height-28{
    line-height: 28px !important;
}

.line-height-32{
    line-height: 32px !important;
}

.line-height-34{
    line-height: 34px !important;
}

.line-height-40{
    line-height: 40px !important;
}

.line-height-48{
    line-height: 48px !important;
}

.line-height-56{
    line-height: 56px !important;
}

.line-height-128{
    line-height: 128px !important;
}

.px-8{
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.px-32{
    padding-left: 32px !important;
    padding-right: 32px !important;
}

.px-64{
    padding-left: 64px !important;
    padding-right: 64px !important;
}

.py-8{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.p-10{
    padding: 10px !important;
}

.py-10{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.p-12{
    padding: 12px !important;
}

.py-12{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.py-24{
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.pt-32{
    padding-top: 32px !important;
}

.py-32{
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.py-40{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.pt-40{
    padding-top: 40px !important;
}

.p-32{
    padding: 32px !important;
}

.p-44{
    padding: 44px !important;
}

.pt-56{
    padding-top: 56px !important;
}

.pt-64{
    padding-top: 64px !important;
}

.pt-74{
    padding-top: 74px !important;
}

.py-94{
    padding-top: 94px !important;
    padding-bottom: 94px !important;
}

.mx-40{
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.mb-12{
    margin-bottom: 12px !important;
}

.mb-92{
    margin-bottom: 92px !important;
}

.mt-24{
    margin-top: 24px !important;
}

.mt-32{
    margin-top: 32px !important;
}

.mt-40{
    margin-top: 40px !important;
}

.mt-56{
    margin-top: 56px !important;
}

.my-32{
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}

.mb-32{
    margin-bottom: 32px !important;
}

.mb-40{
    margin-bottom: 40px !important;
}

.active-item-menu{
    background: linear-gradient(0deg, var(--royalBlueTint90), var(--royalBlueTint90)), linear-gradient(0deg, #F4F7FE, #F4F7FE);
    border-right: 2px solid var(--royalBlue) !important;
}

.box-contenido{
    border-top: 0px !important;
}

.badge-discount {
    border-radius: 0px 0px 0px 4px;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    background: #cc0b39;
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 20px;
}
.box-discount {
    font-size: 12px;
    line-height: 16px;
    color: #CC0B39;
    border: 1px solid #CC0B39;
    border-radius: 4px !important;
    width: auto;
}
.badge-domicilio {
    background: #D4E1FC;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 12px !important;
}

.modal-backdrop.show {
    opacity: 0.75 !important;
}

.select-item-active,
.item-especialidad.select-item-active{
  border-radius: 4px !important;
  background: #CCEAFA !important;
}

.select-item .list-group-item:hover,
.convenio-item .list-group-item:hover,
.convenio-ninguno .list-group-item:hover,
.grupoFamiliar-item .list-group-item:hover {
  border-radius: 4px !important;
  background: #CCEAFA;
}

.select-item .list-group-item:active,
.convenio-item .list-group-item:active,
.convenio-ninguno .list-group-item:active,
.grupoFamiliar-item .list-group-item:active {
  background: #99D1F3;
  color: #003B83;
}

.list-group-checkable .list-group-item,
.list-group-flush .list-group-item {
  cursor: pointer;
}

.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.list-group-item-check:hover+.list-group-item {
  color: #0157A3;
  background-color: #F0F7FF;
  border-color: #0157A3;
}

.list-group-item-check:checked+.list-group-item {
  color: var(--bg-vris-very-dark-blue);
  background-color: #E0EFFF;
  border-color: #36A8FA;
}

.list-group-item-check[disabled]+.list-group-item,
.list-group-item-check:disabled+.list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}

.shadow-item-modal {
    border: 1px solid #E7E9EC;
    box-shadow: 0px 4px 8px 0px #0000001A;
}

.avatar {
  position: relative;
  width: 2.375rem;
  height: 2.375rem;
  cursor: pointer;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.avatar-10 {
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.list-group-checkable {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-group-item {
    background-color: transparent;
}
.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.list-group-item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.tooltip-kiosko .tooltip-inner {
    background-color: var(--redLight) !important;
    color: var(--midnightBlue) !important;
    font-size: 14px !important;
    line-height: 16px !important;
    padding: 10px !important;
    border-radius: 8px !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--redLight) !important;
}

.progress-circle {
  width: 68px;
  height: 68px;
  /* line-height: 100%; */
  background: none;
  /* margin: 0 auto; */
  box-shadow: none;
  position: relative;
}

.progress-circle:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 7px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-circle>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress-circle .progress-left {
  left: 1px;
}

.progress-circle .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: var(--bg-vris-strong-cyan-lime-green);
}

.progress-circle .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress-circle .progress-right {
  right: 1px;
}

.progress-circle .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress-circle .progress-value {
  display: flex;
  border-radius: 50%;
  /* font-size: 36px; */
  text-align: center;
  /* line-height: 20px; */
  align-items: center;
  justify-content: center;
  height: 100%;
  /* font-weight: 300; */
}

.progress-circle .progress-value div {
  margin-bottom: 5px;
  line-height: 14px;
}

.progress-circle .progress-value span {
  font-size: 12px;
  text-transform: uppercase;
}

/* This for loop creates the    necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
.progress-circle[data-percentage="0"] .progress-right .progress-bar {
  animation: loading-0 1.5s linear forwards;
}

.progress-circle[data-percentage="0"] .progress-left .progress-bar {
  animation: 0;
}

.progress-circle[data-percentage="3"] .progress-right .progress-bar {
  animation: loading-0-3 1.5s linear forwards;
}

.progress-circle[data-percentage="3"] .progress-left .progress-bar {
  animation: 0;
}

.progress-circle[data-percentage="5"] .progress-right .progress-bar {
  animation: loading-0-5 1.5s linear forwards;
}

.progress-circle[data-percentage="5"] .progress-left .progress-bar {
  animation: 0;
}

.progress-circle[data-percentage="10"] .progress-right .progress-bar {
  animation: loading-1 1.5s linear forwards;
}

.progress-circle[data-percentage="10"] .progress-left .progress-bar {
  animation: 0;
}

.progress-circle[data-percentage="20"] .progress-right .progress-bar {
  animation: loading-2 1.5s linear forwards;
}

.progress-circle[data-percentage="20"] .progress-left .progress-bar {
  animation: 0;
}

.progress-circle[data-percentage="30"] .progress-right .progress-bar {
  animation: loading-3 1.5s linear forwards;
}

.progress-circle[data-percentage="30"] .progress-left .progress-bar {
  animation: 0;
}

.progress-circle[data-percentage="40"] .progress-right .progress-bar {
  animation: loading-4 1.5s linear forwards;
}

.progress-circle[data-percentage="40"] .progress-left .progress-bar {
  animation: 0;
}

.progress-circle[data-percentage="50"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}

.progress-circle[data-percentage="50"] .progress-left .progress-bar {
  animation: 0;
}

.progress-circle[data-percentage="60"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}

.progress-circle[data-percentage="60"] .progress-left .progress-bar {
  animation: loading-1 1.5s linear forwards 1.5s;
}

.progress-circle[data-percentage="70"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}

.progress-circle[data-percentage="70"] .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.5s;
}

.progress-circle[data-percentage="80"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}

.progress-circle[data-percentage="80"] .progress-left .progress-bar {
  animation: loading-3 1.5s linear forwards 1.5s;
}

.progress-circle[data-percentage="90"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}

.progress-circle[data-percentage="90"] .progress-left .progress-bar {
  animation: loading-4 1.5s linear forwards 1.5s;
}

.progress-circle[data-percentage="100"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}

.progress-circle[data-percentage="100"] .progress-left .progress-bar {
  animation: loading-5 1.5s linear forwards 1.5s;
}

@keyframes loading-0 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(36);
    transform: rotate(5deg);
  }
}

@keyframes loading-0-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(36);
    transform: rotate(9deg);
  }
}

@keyframes loading-0-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(36);
    transform: rotate(18deg);
  }
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}

.progress-circle {
  margin-bottom: 1em;
}